/*  Footer
================================================ */

footer {
  position: fixed;
  bottom: 0;
  border-top: 1px solid $grey;
  padding: 2.8rem 6rem;
  width: 100%;
  background: white;
  overflow: hidden;

  .row {
    align-items: center;
  }

  p {
    font-family: $HelveticaNeueBold;
    font-size: 1.7rem;
    color: black;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
  }

  #cheers {
    justify-content: flex-start;
  }

  #punk {
    justify-content: flex-end;
    text-align: right;
  }
}
